/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "roboto",sans-serif;
    font-size: 1.3rem;
    font-style: normal;
}
.main-container{
    padding: 100px;
    margin: 0 auto;
    background-color: #23424a;
    color: white;
}
.container{
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;

}
.content{
   width: 55%;
}
.content p{
    margin-bottom: 1.76rem;
}
.btn{
    background-color: #38CFD9;
    padding: .52rem;
    border-radius: 2rem;
    text-decoration: none;
    font-weight: 900;
    color: #3A3A3A;
  
    font-size: 14px;
}
h2{
    color:#87629A ;
}
.first-content{
    display: flex;
    flex-direction: row;
    padding: 40px;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.second-container{
    padding: 100px;
    margin: 0 auto;
    background-color: #136C72;
}
.second-content{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    gap: 2rem;
   
}
.second-content h2{
    color: white;
   
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
  
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
    font-style: normal;
}
.main-container{
    padding: 100px 0;
    background-color: #23424a;
    color: #fff;
    
}

.container{
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    
}

.content{
    width: 100%;
    background-color: black;
}

h1{
    font-size: 48px;
    align-items: flex-start;
}
img{
    max-width: 100%;
    
}
.row{
    display: flex;
    justify-content:space-between;
}
.btn{
    display: inline-block;
    color: #23424a;
    background-color: #38cfd9;
    font-size: 21px;
    font-family:"roboto";
    font-weight: 900;
    font-style: normal;
    padding: .75em 2em;
    border-radius: 11rem;
    border: none 0rem;
    margin-top: 1.74em;
} 
/* .hero-img{
    align-self: flex-start;
} */