@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
  
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
    font-style: normal;
}
.main-container{
    padding: 100px 0;
    background-color: #23424a;
    color: #fff;
    
}

.row{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.col{ 
    margin: 8px;
}
.container{
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    
}

.content{
    width: 65%;
    
}
.col +.col{
    background-color: #38cfd9;
    margin-left: 3rem;
}

h1{
    font-size: 48px;
}

.btn{
    display: inline-block;
    color: #23424a;
    background-color: #38cfd9;
    font-size: 21px;
    font-family:"roboto";
    font-weight: 900;
    font-style: normal;
    padding: .75em 2em;
    border-radius: 11rem;
    border: none 0rem;
    margin-top: 1.74em;
} 